generate_datesheet_data.py
datesheet-mid2.xlsx
final-date-sheet.xls

#env
*.venv
*.env
.env

#.pyc
*.pyc
*.pyo

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class